body {
  background-color: #F6F8F2;
  margin: 0;
  color: #34495B;
  width: 100%;
  /* overflow-x: hidden; */
}

#nav {
  width: 100%;
}

#hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url(img/beach.jpg);
  height: 80vh;
  width: 100%;
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#headshot {
  height: auto;
  width: 17vw;
  border-radius: 50%;
  border-width: .6vw;
  border-style: solid;
  border-color: #941023;
  
}

#hero-text {
  color: white;
}

#about-me-section {
  margin: 20px 0 10px 0;
  width: 100%;
}

#h3 {
  margin: 0px 0px 20px;
}

#about-box {
  width: 100%;
}

#about-pic {
  /* width: 100%; */
}

#about_img {
  width: 40vw;
  max-width: 300px;
}

#about-text {
  /* width: 100%; */
}

#skills-section {
  padding: 5vw;
  width: 100%;
}

#skill-txt {
  font-size: 20px;
}

#skill-txt-2 {
  font-size: 20px;
}

#skill-icon {
  font-size: 60px;
}

#skill-badge {
  height: 15vw;
  width: auto;
}

#contact-section {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
}

#contact-icon-box {
  width: 100%;
}

#contact-icon {
  font-size: 60px;
  transition-duration: .3s;
  padding: 0px;
  margin: 0px;
}

#contact-icon:hover {
  color: #941023;
  transition-duration: .3s;
}

#pics {
  padding: 5% 7%;
  background-color: #34495B;
}

#footer-section {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  height: 3vh;
  font-size: 2vh;
  width: 100%;
}